@import '@fontsource/fira-mono';
@import 'tailwindcss';
@plugin 'daisyui' {
	themes: all;
}

:root {
	--font-body:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-body);
	min-height: 100vh;
}
